*~
tags
*.swp
*.pyo
*.pyc
*.DS_Store
*.npy
*.yaml
*.csv
*.pyc
__init__.py
data/*
ExampleTeam

gaussian_parameters_ghost_train1
pickled_ghost_train1
ghost_sklearn_data
ghost_sklearn_data_noquad_test
ghost_sklearn_data_test